[Desktop Entry]
Version=1.0
Name=Font Sampler
Name[en_US]=Font Sampler
Comment=Create a PDF sample sheet from a directory of fonts
Type=Application
Exec=font-sampler
Terminal=false
NoDisplay=true
StartupNotify=false
Icon=application-pdf
Categories=Graphics;Viewer;GNOME;GTK;Publishing;
