
.red {
    margin: 0px;
    padding: 0px;
    background-color: #ff0000;
}

.green {
    margin: 0px;
    padding: 0px;
    background-color: #008000;
}

.blue {
    margin: 0px;
    padding: 0px;
    background-color: #0000ff;
}

.gray {
    margin: 0px;
    padding: 0px;
    background-color: #808080;
}

decoration, window, window.background, dialog.message {
    border-radius: .575em;
    background: #fff;
    outline: 1px solid rgba(0, 0, 0, 0.05);
    outline-offset: -1px;
    box-shadow: 0 1px 3px 3px transparent,
                0 2px 6px 2px rgba(0, 0, 0, 0.13),
                0 3px 12px 6px rgba(0, 0, 0, 0.09),
                0 6px 24px 12px rgba(0, 0, 0, 0.04),
                0 0 0 1px rgba(0, 0, 0, 0.05);
}

notebook > header {
    background-color: shade(@theme_bg_color, 0.9);
}

.pill-button {
    padding: 0px 18px 0px 18px;
    border-radius: 1em;
}

.rounded {
    padding: 4px;
    border-radius: 1.25em;
}

editablelabel text {
	padding: 2px 6px 2px 6px;
	border-radius: .25em;
}

row .count {
    margin: 1px;
    padding: 0px 9px 0px 9px;
    border-style: groove;
    border-width: 1px;
    border-radius: 0.75em;
    color: alpha(@theme_fg_color, 0.9);
    border-color: alpha(darker(@insensitive_fg_color), 0.25);
    background-color: alpha(@insensitive_bg_color, 0.75);
}

row:selected .count {
    margin: 1px;
    padding: 0px 9px 0px 9px;
    border-style: groove;
    border-width: 1px;
    border-radius: 0.75em;
    color: @theme_selected_fg_color;
    border-color: transparent;
    background-color: shade(@theme_selected_bg_color, 0.75);
}

.InlineHelp {
    background: transparent;
}

.PangoGlyphMetrics {
    color: alpha(lighter(@theme_selected_bg_color), 0.333);
}

.CharacterMapCount {
    margin: 0px;
    padding: 2px 12px 2px 12px;
    border-style: groove;
    border-width: 1px;
    border-radius: 0.75em;
    color: alpha(@theme_fg_color, 0.9);
    border-color: alpha(darker(@insensitive_fg_color), 0.25);
    background-color: alpha(@insensitive_bg_color, 0.75);
}

.CharacterMapSeparator {
    color: alpha(@borders, 0.5);
}

.CharacterMapCell:selected {
    border-radius: 0.333em;
    background-color: alpha(@theme_selected_bg_color, 0.9);
}

.CharacterMapGlyph:selected {
    color: lighter(@theme_selected_fg_color);
}

.FontManagerPropertiesPage separator {
    padding: 0px;
    margin: 12px 6px 12px 0px;
    opacity: 0.5;
}

.FontManagerPropertiesPage grid button {
    border-style: solid;
    margin: 5px 3px 3px 3px;
    padding: 0px 9px 0px 9px;
    border-color: alpha(@borders, 0.5);
}

.FontManagerPropertiesPage grid button:hover {
    background-color: alpha(lighter(@theme_fg_color), 0.075);
}

.FontManagerSubstituteList list button {
    border-color: alpha(@borders, 0.75);
}

.FontManagerCompare list row,
.FontManagerComparePreview,
.FontManagerSubstituteList list row,
.FontManagerUserActionList list row,
.FontManagerUserSourceList list row {
    border-radius: 0.333em;
    margin: 4px;
}

.FontManagerCompare list row:selected,
.FontManagerSubstituteList list row:selected,
.FontManagerUserActionList list row:selected,
.FontManagerUserSourceList list row:selected {
    /* background-color: alpha(@theme_selected_bg_color, 0.75); */
    border-radius: 0.333em;
    margin: 4px;
}

.FontManagerSubstituteList list row:selected,
.FontManagerUserActionList list row:selected,
.FontManagerUserSourceList list row:selected {
    box-shadow: 0px 1px 1px 0px inset alpha(@borders, 0.75);
}

.FontManagerSubstituteRow list {
    border-radius: 0.333em;
}

.FontManagerSubstituteList list row:selected button {
    background-color: @theme_bg_color;
    border-radius: 0.333em;
}

.FontManagerSubstituteRow list row:hover,
.FontManagerDesktopPreferences list row:hover,
.FontManagerDisplayPreferences list row:hover,
.FontManagerRenderingPreferences list row:hover,
.FontManagerUserInterfacePreferences list row:hover,
.FontManagerLanguageFilterSettings list row:hover {
    background-color: transparent;
}

.FontManagerSubstituteList row:selected list {
    box-shadow: 0px 1px 1px 1px alpha(@borders, 0.5);
}

.FontManagerUserActionList list,
.FontManagerUserSourceList list,
.FontManagerSubstituteList list {
    padding: 0px;
}

.FontManagerDesktopPreferences list row {
    padding: 0px;
}

.FontManagerCategoryListView > row > treeexpander expander {
    -gtk-icon-source: -gtk-icontheme('folder-symbolic');
    margin: 0px 0px 0px 9px;
}

.FontManagerCategoryListView > row > treeexpander expander:checked {
    -gtk-icon-source: -gtk-icontheme('folder-open-symbolic');
    margin: 0px 0px 0px 9px;
}

.FontManagerCollectionListView > row > treeexpander expander {
    -gtk-icon-source: none;
    -gtk-icon-size: 0px;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
}

.FontManagerListDragCount {
    border-radius: 1.25em;
    border-color: alpha(@theme_selected_fg_color, 0.75);
    border-style: solid;
    border-width: 1px;
    color: lighter(@theme_selected_fg_color);
    background-color: alpha(@theme_selected_bg_color, 0.85);
    font-weight: bold;
    font-size: larger;
    padding: 4px;
    min-width: 20px;
    min-height: 20px;
}

.FontManagerListRowDrag {
    border-radius: .333em;
    border-color: alpha(@theme_selected_fg_color, 0.25);
    border-style: solid;
    border-width: 1px;
    color: @theme_selected_fg_color;
    background-color: alpha(@theme_selected_bg_color, 0.85);
    padding: 4px 24px 4px 24px;
    min-width: 24px;
    min-height: 20px;
}

