
.rounded-button {
    padding: 0px 18px 0px 18px;
    border-radius: 1em;
}

.count {
    margin: 0px;
    padding: 2px 12px 2px 12px;
    border-width: 0.75px;
    border-style: groove;
    border-radius: 0.75em;
    color: alpha(@theme_fg_color, 0.9);
    border-color: alpha(darker(@insensitive_fg_color), 0.25);
    background-color: alpha(@insensitive_bg_color, 0.75);
}

.PangoGlyphMetrics {
    color: alpha(lighter(@theme_selected_bg_color), 0.5);
}

.CharacterMapSeparator {
    color: alpha(@borders, 0.5);
}

.CharacterMapCell:selected {
    border-radius: 0.333em;
    background-color: alpha(@theme_selected_bg_color, 0.9);
}

.CharacterMapGlyph:selected {
    color: lighter(@theme_selected_fg_color);
}

.FontManagerPropertiesPage separator {
    padding: 0px;
    margin: 12px 6px 12px 0px;
    opacity: 0.5;
}

.FontManagerPropertiesPage grid button {
	border-style: solid;
	margin: 5px 3px 3px 3px;
	padding: 0px 9px 0px 9px;
	border-color: alpha(@borders, 0.5);
}

.FontManagerPropertiesPage grid button:hover {
	background-color: alpha(lighter(@theme_fg_color), 0.075);
}

