# Avoid C header files being classified as Objective-C
*.h linguist-language=C

# Don't include build-aux in language statistics
build-aux/* -linguist-detectable
build-aux/license/* -linguist-detectable
build-aux/vendor/* -linguist-detectable

# Don't include generated header files
lib/data/*.h linguist-generated

# Don't include orthography data in language statistics
lib/data/orthographies/* linguist-generated

# Don't include documentation in language statistics
help/* linguist-documentation

# Don't include generated Unicode info files
lib/data/ucd/unicode-blocks.h linguist-generated
lib/data/ucd/unicode-categories.h linguist-generated
lib/data/ucd/unicode-names.h linguist-generated
lib/data/ucd/unicode-nameslist.h linguist-generated
lib/data/ucd/unicode-scripts.h linguist-generated
lib/data/ucd/unicode-unihan.h linguist-generated
lib/data/ucd/unicode-versions.h linguist-generated

