Source: font-manager
Priority: optional
Maintainer: Jerry Casiano <JerryCasiano@gmail.com>
Build-Depends:
 debhelper (>= 12~),
 valac (>= 0.42),
 meson (>= 0.46),
 libxml2-dev,
 libarchive-dev,
 libfreetype-dev,
 libfontconfig-dev (>= 2.12),
 libglib2.0-dev (>= 2.62),
 libjson-glib-dev,
 libcairo2-dev,
 libgtk-4-dev (>= 4.12),
 libadwaita-1-dev,
 libpango1.0-dev (>= 1.45),
 libsqlite3-dev,
 libgirepository1.0-dev,
 libnautilus-extension-dev,
 libnemo-extension-dev,
 libthunarx-3-dev,
 libwebkitgtk-6.0-dev,
 libsoup-3.0-dev,
 yelp-tools,
 desktop-file-utils
Standards-Version: 4.3.0
Section: graphics
Homepage: http://fontmanager.github.io/

Package: font-manager
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 font-viewer,
 file-roller,
 yelp
Suggests: nautilus-font-manager
Description: Simple font management application for Gtk+ Desktop Environments
 Font Manager is intended to provide a way for average users to easily manage
 desktop fonts, without having to resort to command line tools or editing
 configuration files by hand. While designed primarily with the GNOME Desktop
 Environment in mind, it should work well with other Gtk+ desktop environments.
 .
 Font Manager is NOT a professional-grade font management solution.

Package: font-manager-common
Architecture: any
Multi-Arch: no
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Common files required by font-manager and font-viewer
 .
 This package provides common files such as libraries, translations,
 help files, etc.

Package: font-viewer
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Full featured font file preview application for GTK+ Desktop Environments
 .
 This package provides the font-viewer component of font-manager.


Package: nautilus-font-manager
Architecture: any
Depends:
 font-viewer,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Nautilus extension for Font Manager
 .
 This package provides integration with the Nautilus file manager.

Package: nemo-font-manager
Architecture: any
Depends:
 font-viewer,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Nemo extension for Font Manager
 .
 This package provides integration with the Nemo file manager.


Package: thunar-font-manager
Architecture: any
Depends:
 font-viewer,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Thunar extension for Font Manager
 .
 This package provides integration with the Thunar file manager.
