Source: font-manager
Priority: optional
Maintainer: Jerry Casiano <JerryCasiano@gmail.com>
Build-Depends:
 dpkg (>= 1.15.7.2),
 dh-autoreconf,
 debhelper (>= 9),
 automake (>= 1.14),
 autoconf (>= 2.69),
 autotools-dev,
 valac (>= 0.24),
 intltool,
 libxml2-dev,
 libfreetype6-dev,
 libfontconfig1-dev,
 libglib2.0-dev,
 libjson-glib-dev,
 libcairo2-dev,
 libgtk-3-dev (>= 3.12),
 libpango1.0-dev,
 libgee-0.8-dev,
 libgucharmap-2-90-dev,
 libsqlite3-dev,
 libgirepository1.0-dev,
 file-roller,
 yelp-tools,
 python,
 python-gobject,
 python-nautilus (>= 1.0)
Standards-Version: 3.9.6
Section: graphics
Homepage: http://fontmanager.github.io/

Package: font-manager
Architecture: any
Depends:
 font-manager-common,
 font-viewer,
 yelp,
 file-roller,
 ${misc:Depends},
 ${shlibs:Depends}
Suggests: nautilus-font-manager
Description: Simple font management application for Gtk+ Desktop Environments
 Font Manager is intended to provide a way for average users to easily manage
 desktop fonts, without having to resort to command line tools or editing
 configuration files by hand. While designed primarily with the GNOME Desktop
 Environment in mind, it should work well with other Gtk+ desktop environments.
 .
 Font Manager is NOT a professional-grade font management solution.

Package: font-manager-common
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Common files required by font-manager and font-viewer
 .
 This package provides common files such as libraries, translations,
 help files, etc.

Package: font-viewer
Architecture: any
Multi-Arch: same
Depends:
 font-manager-common,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Full featured font file preview application for GTK+ Desktop Environments
 .
 This package provides the font-viewer component of font-manager.


Package: nautilus-font-manager
Architecture: all
Depends:
 font-viewer,
 nautilus (>= 3.0),
 python-gobject,
 python-nautilus (>= 1.0),
 ${misc:Depends}
Description: Nautilus extension for Font Manager
 .
 This package provides integration with the Nautilus file manager.



