#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
	    --buildtype=debugoptimized \
	    -Ddisable_pycompile=True \
	    -Dnautilus=True \
	    -Dnemo=True
